@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

body {
  font-family: 'Belleza', sans-serif;
  background-color: #E0F2F1;
  color: #EBF7F5;
  margin: 0;
}

h1 {
  font-size: 52px;
}

p {
  font-size: 20px;
}

.card {
  border-radius: 25px;
  background-color: #141717;
  color: #EBF7F5;
  width: 270px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: width 0.6s, height 0.6s;
}

.card:hover{
  width: 280px;
  height: 260px;
}

.card-image {
  border-radius: 25px;
  width: 250px;
  height: 175px;
}

.container {
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 15px;
  margin-bottom: 25px;
}

header{
  display: flex;
  justify-content: space-between;
  padding-left: 65px;
  padding-right: 75px;
  margin: 0;
  margin-bottom: 25px;
  background-color: #141717;
}

.score-div{
  margin-top: 25px;
}

@media (max-width: 700px) {
  .score-div{
    width: 360px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
  }
  header{
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  header div:first-of-type{
    width: 360px;
    text-align: center;
  }
  h1{
    font-size: 28px;
    margin: 0;
  }
  p{
    font-size: 14px;
    margin: 0;
  }
  header div:first-of-type p{
    display: none;
  }
  .container{
    grid-template-columns: auto;
    justify-content: center;
  }

}

